<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-linupcommunicationservice" version="0.0.1">
    <name>CommunicationServicePlugin</name>

    <description>An Android Cordova plugin.</description>
    <license>MIT</license>

    <keywords>cordova,android,communication,webrtc,messaging</keywords>
    <repo>https://github.com/eclettica/CommunicationServicePlugin.git</repo>
    <issue>https://github.com/eclettica/CommunicationServicePlugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <!-- dependencies -->
    <dependency id="cordova-plugin-linupwebsocketservice" url="https://github.com/eclettica/WebsocketServicePlugin"/>
    <dependency id="cordova-sqlite-storage" url="https://github.com/eclettica/cordova-sqlite-storage" />

    <js-module src="www/CommunicationService.js" name="CommunicationServicePlugin">
        <clobbers target="window.plugins.CommunicationServicePlugin" />
    </js-module>
    <platform name="android">
        <framework src="com.google.code.gson:gson:2.8.6" />
        <framework src="com.fasterxml.jackson.core:jackson-databind:2.8.9" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CommunicationServicePlugin">
                <param name="android-package" value="it.linup.cordova.plugin.communication.CommunicationServicePlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="IncomingCall" android:name="it.linup.cordova.plugin.communication.IncomingCallActivity"></activity>
            <service 
            android:name="it.linup.cordova.plugin.communication.services.CommunicationService"
            android:enabled="true"
            android:exported="true">
                <intent-filter>         
                    <action android:name="it.linup.cordova.plugin.communication.services.CommunicationService"/> 
                </intent-filter>     
            </service>
        </config-file>

        <source-file src="src/android/CommunicationServicePlugin.java" target-dir="src/it/linup/cordova/plugin/communication" />
        <source-file src="src/android/services/CommunicationService.java" target-dir="src/it/linup/cordova/plugin/communication/services" />
        <source-file src="src/android/services/CommunicationMessageService.java" target-dir="src/it/linup/cordova/plugin/communication/services" />
        <source-file src="src/android/services/CommunicationServiceSqlUtil.java" target-dir="src/it/linup/cordova/plugin/communication/services" />
        <source-file src="src/android/IncomingCallActivity.java" target-dir="src/it/linup/cordova/plugin/communication" />
        <source-file src="src/android/incoming_call.xml" target-dir="res/layout"/>
        <source-file src="src/android/models/MessageWrapper.java" target-dir="src/it/linup/cordova/plugin/communication/models" />
        <source-file src="src/android/models/SqlMessageWrapper.java" target-dir="src/it/linup/cordova/plugin/communication/models" />
        <source-file src="src/android/models/SqlChatWrapper.java" target-dir="src/it/linup/cordova/plugin/communication/models" />

    </platform>
</plugin>
